%hr.invisible
.text-center
  - if !@errors.blank?
    %br
    .row
      .col-md-8.col-md-offset-2.alert.alert-danger
        %ul.list-unstyled
          - @errors.each do |msg|
            %li= msg
  - if @bag.blank?
    %p Whoops! Looks like you havent selected a bag yet
    = link_to "Click here to pick a bag", bags_path, class: "btn btn-primary"
  - else
    %p
      You've selected the following bag
      = link_to "(Click here to switch)", bags_path
    .row
      .col-md-2.col-md-offset-5
        %h5= @bag.name
        = image_tag @bag.photo_url, class: "img img-responsive"
        %p 
          Capacity:
          %span.badge= "#{@bag.capacity} lbs"
    .text-center
      %span.glyphicon.glyphicon-chevron-down
    %hr
    %h3 Item Selection
    .row
      .col-md-6.col-md-offset-3
        %p Assign a priority to any items that you would like to be more highly considered.
        %p.bold Priorities must be unique. Do not assign the same priority to multiple items.
    - if @item_arrays.blank?
      %em There are currently no items
    - else
      = link_to "Reset Priorites", items_path(reset: true)
      %br
      %br
      - if !@errors.blank?
        .row
          .col-md-8.col-md-offset-2.alert.alert-danger
            %ul.list-unstyled
              - @errors.each do |msg|
                %li= msg
      - @item_arrays.each do |item_array|
        .row
          - item_array.each do |item|
            = simple_form_for item do |f|
              = hidden_field_tag :back, "index"
              .col-md-3
                .panel.panel-default
                  .panel-heading
                    = item.name
                    .float-right= link_to "Edit", edit_item_path(item)
                  .panel-body
                    = image_tag item.photo_url, class: "img img-responsive"
                    %p= truncate item.description, :length => 80
                    %p 
                      Weight:
                      %span.badge= item.weight
                    %p= "Price #{number_to_currency(item.value)}"
                    .text-center
                      = f.input :priority, collection: 1..10, input_html: { class: "priority-select" }
                    = f.submit "Update", class: "btn btn-default"
    %hr.invisible
    = link_to new_item_path, class: "btn btn-default" do
      .glyphicon.glyphicon-plus
      Add your own item
    %hr.invisible
    = link_to public_check_out_path, class: "btn btn-primary btn-lg" do
      .glyphicon.glyphicon-check
      Check out
    %br
    %br
    = link_to "(Click here for the basic knapsack algorithm)", public_basic_knapsack_path
    %hr.invisible