.text-center
  .row
    .col-md-2.col-md-offset-5
      = image_tag "apple-logo.png", class: "img img-responsive"
  %br
  - if @bag.blank?
    %p Whoops! Looks like you havent selected a bag yet
    = link_to "Click here to pick a bag", bags_path, class: "btn btn-primary"
  - else
    %p
      You've selected the following bag
      = link_to "(Click here to switch)", bags_path
    .row
      .col-md-2.col-md-offset-5
        %h5= @bag.name
        = image_tag @bag.photo_url, class: "img img-responsive"
        %p 
          Capacity:
          %span.badge= "#{@bag.capacity} lbs"
    .text-center
      %span.glyphicon.glyphicon-chevron-down
    %hr
    %h3 Item Selection
    .row
      .col-md-6.col-md-offset-3
        .alert.alert-info
          %p Assign a priority to any items that you would like to be more highly considered.
          %p Specify any quantities of items that you want to make sure that you get.
    - if @item_arrays.blank?
      %em There are currently no items
    - else
      - @item_arrays.each do |item_array|
        .row
          - item_array.each do |item|
            = simple_form_for item do |f|
              = hidden_field_tag :back, "index"
              - if item.errors.any?
                #error_explanation
                  %h2
                    = pluralize(@item.errors.count, "error")
                    prohibited this item from being saved:
                  %ul
                    - item.errors.full_messages.each do |msg|
                      %li= msg
              .col-md-3
                .panel.panel-default
                  .panel-heading
                    = item.name
                    .float-right= link_to "Edit", edit_item_path(item)
                  .panel-body
                    = image_tag item.photo_url, class: "img img-responsive"
                    %p= truncate item.description, :length => 80
                    %p 
                      Weight:
                      %span.badge= item.weight
                    .text-center
                      = f.input :priority
                      = f.input :quantity
                    = f.submit "Update"
    %hr.invisible
    = link_to new_item_path, class: "btn btn-default" do
      .glyphicon.glyphicon-plus
      Add your own item
    %hr.invisible
    = link_to public_check_out_path, class: "btn btn-primary" do
      .glyphicon.glyphicon-check
      Check out
    %hr.invisible

    