!!!
%html
  %head
    %title Apple Thief
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %link{:rel => "icon", :type => "image/ico", :href => "/favicon2.ico"}
    = csrf_meta_tags
  %body
    #overlay.opaque
    #wrap
      = render "layouts/header"
      #alert-message.text-center
        .container
          .row
            .col-md-6.col-md-offset-3
              .panel.panel-default
                .panel-heading
                  %button.close.float-right
                    %span{ :'aria-hidden' => "true" } &times;
                    %span.sr-only Close
                  .panel-title Alert
                .panel-body
                  %span.notice= notice
                  %span.alert= alert
                  %hr.invisible
                  %button.btn.btn-default Close
      %div{ class: params[:action] == "index" && params[:controller] == "public" ? "" : "container" }= yield
    = render "layouts/footer"